<% finances = Finance.new(client, start_date, stop_date) %>

<div class=row>
  <div class="col-sm-4">
    <h2 class="<%= finances.summary >= 0 ? 'text-success' : 'text-danger' %>"><%= number_to_currency(finances.summary) %></h2>
    <hr>
    <p class="text-right"><strong>Wagered:</strong> <%= number_to_currency finances.amount_wagered %></p>
    <p class="text-right"><strong>Won:</strong> <%= number_to_currency finances.amount_won %></p>
    <p class="text-right"><strong>Pending:</strong> <%= number_to_currency finances.amount_pending %></p>
  </div>
</div>

