<h1>Audit: <%= @client.full_name %></h1>

<%= render partial: "clients/finances", locals: {client: @client} %>

<h2>Detail</h2>
<table class="table table-striped">
  <tr>
    <th>Sportsbook Id</th>
    <th>Wager Date</th>
    <th>Outcome</th>
    <th>Ticket Amount</th>
    <th>Responsible Amount</th>
    <th>Summary</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <% ticket_amount = ticket.amount_wagered %>
    <% responsible_amount = ticket.amount_tagged_by(@client) %>
    <% summary = ticket.amount_paid.to_f * (responsible_amount.to_f/ticket_amount.to_f) - responsible_amount %>
    <tr>
      <td><%= link_to ticket.sb_bet_id, ticket_path(ticket) %></td>
      <td><%= ticket.wager_date.strftime("%Y-%b-%d") %></td>
      <td><%= ticket.outcome %></td>
      <td><%= number_to_currency(ticket_amount) %></td>
      <td><%= number_to_currency(responsible_amount) %></td>
      <td><%= number_to_currency(summary) %></td>
    </tr>
  <% end %>

</table>

