<h1>New Audit: <%= @client.full_name %></h1>

<%= render partial: "clients/finances", locals: {client: @client} %>

<h2>Detail</h2>
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Sportsbook Id</th>
    <th>Outcome</th>
    <th>Amount</th>
    <th>Balance</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= display_date(ticket['wager_date']) %></td>
      <td><%= link_to ticket['sb_bet_id'], ticket_path(ticket['id']) %></td>
      <td><%= ticket['outcome'] %></td>
      <td><%= ticket_amount_display(ticket['amount']) %></td>
      <td><%= ticket_amount_display(ticket['balance']) %></td>
    </tr>
  <% end %>

</table>

